* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  background-color: #111827;
}

.paragraph-styling {
  text-wrap: pretty;
  max-width: 75ch;
  margin: 0 auto;
}

/* Add this CSS in your separate CSS file or within a style block in your component */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.hidden-nav {
  transform: translateY(-100%);
}

/* Smooth loading transitions */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  nav a {
    margin-left: 0.2rem;
  }
  
  nav ul {
    margin-right: 1rem;
  }

  nav ul li {
    margin-right: 2rem;
  }
}
